.vdc-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px; 
}
vdc-non-modal {
    position: fixed;
}
.jqs-dialog-main {    
    background-color: #ffffff;
    /*z-index: 1050;*/
    /*border: 1px solid #999;*/
    border: 1px solid rgba(0, 0, 0, 0.6);
    border: 1px solid #C5C5D9 \0; /*for IE8*/
    border-radius: 6px; 
}
.jqs-dialog-header {
  padding: 9px 15px;
  background-color: #F1F3FA;
  /*border-bottom: 1px solid #eee;*/
  border-radius: 6px 6px 0 0;  
}
.jqs-dialog-header .close {
  margin-top: 2px;
}
.jqs-dialog-header h3,h4,h5 {
  margin: 0;
  line-height: 28px; 
}
.jqs-dialog-body {
    overflow: auto;
    width: 100%;
    color: #001A4C;
    padding: 10px 10px 20px 15px;    
}
.jqs-dialog-footer {
  position: relative;
  bottom: 0;
  margin-top: 0;
  padding: 8px 15px 10px;
  width: 100%; 
  /*background-color: #eee;*/
  background-color: #F1F3FA;
  /*border-top: 1px solid #ddd;*/
  border-top: 1px solid #e5e5e5;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}
.overlay
{
    background: transparent url(images/overlay.png) repeat top left;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.dialog-icon-info
{
    width: 30px;
    height: 30px;
    margin-right: 6px;
    background:url('images/dialog-icons.png') no-repeat -5px 0px; 
}
.dialog-icon-warning
{
    width: 30px;
    height: 27px;
    margin-right: 6px;
    background:url('images/dialog-icons.png') no-repeat -37px 0px;   
}
.dialog-icon-error
{
    width: 30px;
    height: 30px;
    margin-right: 6px;
    background:url('images/dialog-icons.png') no-repeat -5px -31px;   
}
.dialog-icon-question
{
    width: 32px;
    height: 32px;
    margin-right: 6px;
    background:url('images/question-icon.png') no-repeat;   
}