@{
    ViewBag.Title = "title";
}

<h2>Schedule Manager</h2>
<br/>
<input type="button" class="btn btn-small btn-primary" value="New Schedule" data-bind="click:$root.createSchedule"/>
<hr/>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Begin Location</th>
        <th>End Location</th>
        <th>Start Date</th>
        <th></th>
    </tr>
    <tbody data-bind="foreach: Schedules">
        <tr>
            <td class="name"><a data-bind="text: BeginLocation, click: $parent.editSchedule"></a></td>
            <td data-bind="text: EndLocation"></td>
            <td data-bind="text: StartDate"></td>
            <td><button class="btn btn-mini btn-danger" data-bind="click: $parent.removeSchedule">remove</button></td>
        </tr>
    </tbody>
</table>
<script src="~/Scripts/Schedule.js"></script>

