@charset "utf-8";
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn img, ins, kbd, q, s, samp, small, sub, tt, var, u, center, fieldset, form, label, legend, caption, tfoot, thead, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-family:arial; width:100%}
#wrapvh{margin:0 auto; min-width:1240px; word-wrap:break-word; position:relative; width:100%}
#headervh{width:100%; height:68px; position:fixed; top:0; z-index:9999; min-width:1240px; border-bottom:1px solid #dfdfdf; background:url(../../Content/Images/home/bando_02.png) no-repeat 150px 0px #f9f9f9;}
#homeleft0{float:left; width:235px; position:relative; z-index:1}
#homecent0{float:left; margin:0 12px; width:760px}
#homerigh0{float:right; width:180px; position:relative; z-index:1}
#bodyvh{padding-top:83px; width:1200px; margin:0 auto}
#midleft{background:#f6f7f9}
.headerhomeh{width:1200px; margin:0 auto}
.logohead{float:left; margin-top:18px; width:165px} 
.logohead{float:left; margin-top:18px; width:165px} .imglogo{vertical-align:middle}
.imglogofoot{position:absolute; top:-20px; left:0}
.loginvh{float:right; margin-top:29px; font-size:12px}
.loginvh0{float:right; margin-top:12px; font-size:13px; color:#333}
.qlytkhoan{font-size:12px; font-weight:bold; color:#404040; border-bottom:1px solid #c0c1c3; padding:8px 10px 6px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ededed)); background: -moz-linear-gradient(top, #fdfdfd 0%, #ededed 100%); background: -webkit-linear-gradient(top, #fdfdfd 0%,#ededed 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#ededed 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#ededed 100%); text-transform:uppercase}
.dmucleft{font-size:13px; color:#404040; width:195px; float:left; padding:5px 20px 5px; border-bottom:1px solid #e5e6e8; text-decoration:none;}
.dmucleft:hover{background:#fff}
.iconddr{background:url(../../Content/Images/icons/icon_whatsapp.png) no-repeat}
.ttcn{float:left; width:24px; height:21px; background-position:-160px -23px; margin-top:-1px}
.ttcnmenu{float: left; width: 18px; height: 18px; background-position: -69px -22px; margin-right: 2px; border-width: 1px; border-style: solid; border-radius: 2px; border-color: #e5e6e8}
.dsltmenu{float: left; width: 18px; height: 18px; background-position: -140px -92px; margin-right: 2px; border-width: 1px; border-style: solid; border-radius: 2px; border-color: #e5e6e8}
.dkltmenu{float: left; width: 18px; height: 18px; background-position: -69px -115px; margin-right: 2px; border-width: 1px; border-style: solid; border-radius: 2px; border-color: #e5e6e8}
.ltkhmenu{float: left; width: 18px; height: 18px; background-position: -93px 1px; margin-right: 2px; border-width: 1px; border-style: solid; border-radius: 2px; border-color: #e5e6e8}
.lgoutmenu{float: left; width: 18px; height: 18px; background-position: -94px -45px; margin-right: 2px; border-width: 1px; border-style: solid; border-radius: 2px; border-color: #e5e6e8}
.nameleftmn{float:left; margin-top:4px;  margin-left:5px; width:168px}
.ppagevnl{float:right; font-weight:bold; color:#404040; padding-right:15px;}
.ppagevnl img{float:left; border:2px solid #ccc; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%}
.ppagevnl span{display:inline-block; margin-left:5px; margin-top:17px; max-width:150px; height:17px; overflow:hidden; white-space:nowrap}
.phomevnl{float:right; font-weight:bold; color:#404040; background:url(../../Content/Images/icons/split.png) right no-repeat; padding:1px 15px 1px 10px; margin-top:15px; margin-right:7px; text-decoration:none;}
.userlog{float:left; background:#fff; width:150px; height:26px; position:relative; border:1px solid #e6e6e6}
.passlog{float:left; background:#fff; border:1px solid #e6e6e6; width:140px; height:26px; margin-left:5px; position:relative}
.botusersign{position:absolute; text-decoration: none; top:-20px; left:0; float:left; color:#222}
.botuseguide{text-decoration: none;color:white}
.botuseguide2{text-decoration: none;color:black;float:right;}
.btnheadtk{background:url(../../Content/Images/home/btnicon_05_01.png) no-repeat}
.usloghead{float:left; position:absolute; width:22px; height:14px; background-position: -121px -4px; top:7px; left:5px}
.userpass{border:none; background:none; width:112px; margin-left:32px; margin-top:5px; color:#333}
.userpass1{border:none; background:none; width:112px; margin-left:20px; margin-top:5px; color:#333}
.btnsearch{background-position:-130px -29px; width:34px; height:28px; position:absolute; top:-1px; right:-1px; border:none; cursor:pointer; border-radius:0}
.pwloghead{float:left; position:absolute; width:12px; height:14px; background-position: -150px -4px; top:7px; left:5px}
.botuserpass{position:absolute; text-decoration: none; left:0; top:-20px; color:#222}
.divchesn,.divchextd{position:fixed; width:100%; height:100%; left:0; top:0; background:url(../../Content/Images/home/nenche2.png) repeat; z-index:99}
.divlogvnlnew{position:fixed; top:15%; z-index:101; left:15%; width:880px; min-height: 460px; margin:auto; background:#fff}
.divlogtcbnew{position:fixed; top:25%; z-index:101; left:20%; width:830px; min-height: 250px; margin:auto; background:#fff}
.titsignew{background:#11A6DF; padding:9px 20px 8px; font-size:16px; font-weight:bold; margin-bottom:15px; color:#fff; line-height:18px}
.iconhp{background:url(../../Content/Images/home/trang-chu_03.png) no-repeat} 
.closedpopdknew,.closedpopshr{float:left; width:35px; height:35px; position:absolute; right:0; top:0; background-position:-354px -72px; cursor:pointer}
.boxlogvnl .fb_iframe_widget iframe, .divpopsignk .fb_iframe_widget iframe, .divboxsup .fb_iframe_widget iframe, .logfacehead .fb_iframe_widget iframe, .divpopxtdd .fb_iframe_widget iframe{margin-top:7px; opacity:0; filter: alpha(opacity=0);}
.boxlogvnl .fb_iframe_widget, .divpopsignk .fb_iframe_widget, .divboxsup .fb_iframe_widget, .logfacehead .fb_iframe_widget{position:absolute !important}
.ptextdk{border:1px solid #ddd; margin-left:2px; margin-top:2px; width:220px; height:21px; padding:6px; font-size:16px;background:none; text-height:auto; color:#333; border-top-right-radius:2px; border-bottom-left-radius:2px; -webkit-border-top-right-radius:2px; -webkit-border-bottom-left-radius:2px; -moz-border-top-right-radius:2px; -moz-border-bottom-left-radius:2px; border-bottom:2px solid #ddd; border-right:2px solid #ddd; margin-bottom:10px}
.ptextroute{border:1px solid #ddd; margin-left:2px;text-align:center; margin-top:2px; width:150px; height:21px; padding:6px; font-size:16px;background:none; text-height:auto; color:#333; border-top-right-radius:2px; border-bottom-left-radius:2px; -webkit-border-top-right-radius:2px; -webkit-border-bottom-left-radius:2px; -moz-border-top-right-radius:2px; -moz-border-bottom-left-radius:2px; border-bottom:2px solid #ddd; border-right:2px solid #ddd; margin-bottom:10px}
.ptextroute5{text-align:center;padding:14px;font-size:12px;font-style:normal;font-weight:bold}
.ptextroute2{margin-left:15px;text-align:left; margin-top:10px; width:150px; height:21px; padding:6px; font-size:16px;background:none; text-height:auto; color:#333; -moz-border-top-right-radius:2px; -moz-border-bottom-left-radius:2px;  margin-bottom:10px}
.ptextroute4{margin-left:25px;text-align:left; margin-top:100px; width:350px; height:50px; padding:6px; font-size:16px;background:none; text-height:auto; color:#333; -moz-border-top-right-radius:2px; -moz-border-bottom-left-radius:2px;  margin-bottom:10px}
.ptextroute3{margin-left:2px;text-align:left; width:150px; height:21px; padding:6px; font-size:16px;background:none; text-height:auto; color:#333; -moz-border-top-right-radius:2px; -moz-border-bottom-left-radius:2px;  margin-bottom:10px}
.ptextdk2{border:1px solid #ddd; margin-left:2px; margin-top:60px; width:220px; height:21px; padding:6px; font-size:16px;background:none; text-height:auto; color:#333; border-top-right-radius:2px; border-bottom-left-radius:2px; -webkit-border-top-right-radius:2px; -webkit-border-bottom-left-radius:2px; -moz-border-top-right-radius:2px; -moz-border-bottom-left-radius:2px; border-bottom:2px solid #ddd; border-right:2px solid #ddd; margin-bottom:10px}
.ptextdk-radio{ margin-top:2px; width:200px; height:21px; padding:6px; font-size:16px;background:none; -webkit-border-bottom-left-radius:2px; -moz-border-top-right-radius:2px; -moz-border-bottom-left-radius:2px; margin-bottom:10px}
.ptextdkhv{border:1px solid #11A6DF; border-bottom:2px solid #11A6DF; border-right:2px solid #11A6DF}
.divdky{float:left; width:240px; margin-left:35px; height:360px}
.divroute{float:left; width:140px; margin-left:35px; height:250px}
.tddky{font-size:14px; margin-bottom:10px; color:#333; font-family:Verdana; font-weight:bold}
.btnsignlog{cursor:pointer; float:right; width:109px; font-size:14px; height:37px; background-position:-232px -72px; border:none;margin-top:20px;margin-bottom:20px}
.btnsignlog2{cursor:pointer; float:right; width:109px; height:37px; background-position:-232px -120px; border:none; }
.divdnhap{float:left; margin-left:40px; position:relative; margin-top:16px}
.divroute2{float:left; margin-left:15px; position:relative}
#signupvnl,#routeListPanel,#routetcb{display:none}
.tphosearch{width:110px; font-size:12px; font-weight:bold; cursor:pointer; padding:8px 6px 6px 0; z-index:9; float:left; position:relative; margin-right:5px; background:#fff; border:1px solid #e6e6e6}
.tphosearch:hover ,.searchdmucvh:hover {background:#f8f8f8}
.searchtextvh{background:#fff; width:225px; height:30px; float:left; border:1px solid #e6e6e6; position:relative }
.searchdmucvh{background:#fff; width:105px; height:30px; float:left; font-weight:bold; font-size:12px; cursor:pointer; position:relative; z-index:9; border:1px solid #e6e6e6; border-left:none}
.btnmapsh{float:left; width:74px; height:32px; margin-top:21px; margin-left:10px}
.pcentertext{text-align:center;font-size:12px;font-style:normal;font-weight:normal;margin-top:10px}
#bodymap {
    width: 100%;
    padding-top: 69px;
    margin: 0 auto;
    min-width: 1240px;
}
.loadingmap, .loadgifps {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../../Content/Images/home/nenche2.png) repeat;
    z-index: 10000;
    display: none;
}
.clear{clear:both;} .none{display:none !important} .none0{display:none}
input[type=radio].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox {
    float:right;
	padding-left:21px;
	height:14px; 
	display:inline-block;
	line-height:14px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
    margin-top:3%;
	cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -16px;
}
label.css-label {
    float:right;
    padding-left:21px;
	height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:12px;
    font-weight:normal;
    font-style:normal;
    color:gray;
	cursor:pointer;
    margin-right: 3%;
    vertical-align:middle;
    margin-top:3%;
	background-image:url(../../Content/Images/icons/checkbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type=radio].css-checkbox2 {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox2 {
	padding-left:21px;
	height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:16px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=radio].css-checkbox2:checked + label.css-label2 {
	background-position: 0 -16px;
}
label.css-label2 {
    padding-left:21px;
	height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:16px;
    font-weight:normal;
    font-style:normal;
    color:black;
	cursor:pointer;
    margin-right: 3%;
    vertical-align:middle;
	background-image:url(../../Content/Images/icons/checkbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#ttintop1{font-size:13px; color:#333; font-weight:bold; text-transform:uppercase}
#ttintop1 p{float:left; margin-left:5px; margin-top:2px} .ttrightcent{font-size:12px}
.ttrightcent{font-size:12px}
.pupttin{font-size:14px; font-weight:bold; color:#068ff0; margin:11px 15px}
.indam{font-weight:bold}
.txtbuocdky{width:360px; padding:5px; border:1px solid #ededed}
.ngaythang{padding:3px; background:#f9f9f9; border:1px solid #ddd; height:25px }
.ngaythang option{padding:3px} .indam{font-weight:bold}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
  font-size: 100%px;
  background: #3498db;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#divhadd{float:left; width:360px; margin-top:20px} 
#divcnmk{float:left; width:395px; margin-top:20px; border-left:1px solid #e3e3e3; padding-bottom:6px; height:200px}
.hinhava{width:150px; height:150px; overflow:hidden; position:relative; border:1px solid #ddd; padding:5px}
.hinhava:hover .editimage{display:block}
.upload{position:relative;width:400px;}
.accavatt{float:left; width:64px !important; margin:5px 15px 9px}
.fakeupload{float:left; width:64px}
.realupload2{position:absolute; opacity:0; -webkit-opacity:0; -moz-opacity:0; filter:alpha(opacity:0); z-index:10; cursor:pointer}
.clear{clear:both;} .none{display:none !important} .none0{display:none}
#footvh{background:#ebebeb; margin-top:30px; width:100%; min-width:1200px}
.footerhome{width:1200px; margin:0 auto; padding:30px 0}
.pahtin{font-size:12px; font-weight:bold; margin-bottom:8px}
.tinhomenb1{margin-bottom:10px; font-size:11px} .tinhomenb2{padding-bottom:27px; border-bottom:1px solid #e0e0e0; float:right; position:relative}
.pmemhome1{float:left; width:40px; height:40px}
.pmemhome1 img{border:2px solid #e6e6e6; border-radius:50%; width:40px; height:40px}
.tinhomenb2{padding-bottom:27px; border-bottom:1px solid #e0e0e0; float:right; position:relative}
.pmemhome2 a{color:#068ff0; display:block; font-size:12px; margin:3px 0 2px; width:130px; height:15px; overflow:hidden; text-decoration:none;}
.pmemhome3{color:#666} .pmemhome4{margin:2px 0; color:#666}
.fftop{position:absolute; top:68px; left:0; width:100%; background:#f3f4f5}
.fftop_0{width:1200px; margin:15px auto}
.fftop_0 h3{font-size:15px; color:#333; line-height:19px; width:300px}
.findfriends{font-size:12px; width:1200px; margin:60px auto 10px}
.llmatkhau1{font-size:14px; width:1000px; margin:auto; line-height:18px}
.pnotevnl{font-size:14px; margin-bottom:15px; border-bottom:1px dotted #ddd; padding-bottom:6px; line-height:22px}
.pgetpass{font-size:14px; margin-top:12px; float:left; width:100px}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}