.pac-container{height:155px; overflow:hidden;box-shadow:none;}
.pac-container:after{background-image:none !important}
.adp-legal,#adp-placemark,.adp-placemark{display:none !important}
#adp-placemark img, .adp-placemark img {display:none;}
#adp-placemark {background: white url(../../Content/Images/icons/location-icon-red.png) no-repeat left center;}
.adp-placemark {background: white url(../../Content/Images/icons/location-icon2.png) no-repeat left center;}
.adp-text{padding-left:35px;font-weight:bold; height:40px}
.adp-directions tr td:nth-child(3) div{display:none !important} .adp-directions{width:100% !important}

.gm-style-iw a{display:none} .gm-style-iw #content a{display:block !important}
.topmapstr{font-size:13px; font-weight:bold; color:#333; border-bottom:2px solid #11a6e0; padding:0 10px; width:505px}
.ptopstr{float:left; cursor:pointer; padding:8px 0 5px; border:1px solid #ccc; border-bottom:0; width:159px; margin-right:10px; text-align:center; background:#fff; position:relative}
.ddmap1{float:left; width:18px; height:33px; background-position:-365px -167px; margin:0 10px}
.ddmap2{float:left; width:18px; height:33px; background-position:-389px -167px; margin:0 10px}
.ddmap3{display:inline-block; width:18px; height:33px; background-position:-365px -167px; margin:0 1px; vertical-align:middle}
.ddmap4{display:inline-block; width:18px; height:33px; background-position:-389px -167px; margin:0 1px; vertical-align:middle}
.boxkqdd1{padding:15px 0; margin-bottom:15px; font-size:13px; background:#f3f4f5; width:525px; height:168px}
.boxkqdd2{padding:10px 20px; margin-bottom:15px; font-size:13px; background:#f7f8f9; width:380px; height:180px; border-bottom:1px solid #ddd}
.leftkqvnl{float:left; width:525px; box-shadow:0 0 6px #999; position:relative; z-index:5; background:#fff}
.boxkqdd{margin-bottom:12px; font-size:13px; background:#f3f4f5; border-bottom:1px solid #ddd; white-space:nowrap}
#boxkqua{width:525px; background:#fff} .divtkmapdd{}
#bdotkiem, #mapdirdd{box-shadow:0 0 6px #999; z-index:0}
.lefttkdd{float:left; margin:15px -1px 0 0; background:#fff; font-weight:bold; position:relative; font-size:12px; border:1px solid #ddd; color:#333; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; white-space:nowrap}
.ktkmap{cursor:pointer; float:left; width:90px; text-align:center; padding:6px 0 4px; line-height:15px}
.ardmap{float:left; width:12px; height:8px; background-position:-445px -105px; margin-left:8px; margin-top:4px}
.kvucd1_0{float:left; margin-left:12px} .kvucd2_0{float:left; margin-left:25px} .kvucd3_0{float:left; margin-left:14px}
.warntk{font-size:13px; padding:10px; line-height:18px} .warntk1{text-align:center; padding:10px;}
.lefttkdd1:hover,.lefttkdd:hover{background:#fdfdfd} .pdtkdd{font-size:14px; margin:3px 0 5px 0; font-weight:bold}
.arrdivtkdd{float:left; position:absolute; top:30px; left:50px; background:url("../../Content/Images/icons/arrow-top2.png") no-repeat; width:15px; height:8px; z-index:2}
.dtoptkdd{position:absolute; top:26px; left:-11px; z-index:2; font-size:12px; border-bottom:2px solid #11a6df}
.dtoptkdd1{position:absolute; top:26px; left:-102px; z-index:2; font-size:12px; border-bottom:2px solid #11a6df}
.dtoptkdd2{position:absolute; top:26px; left:-193px; z-index:2; font-size:12px; border-bottom:2px solid #11a6df}
.dbottkdd{background:#f1f2f3; padding:10px; max-height:420px; overflow-y:auto; overflow-x:hidden; width:485px; margin-top:10px}
.spnclsm{cursor:pointer; float:left; z-index:1; width:90px; height:27px; position:absolute; top:-2px; left:0; display:none; border-bottom:1px solid #fff} 
.inptkmdd{border:1px solid #ddd; padding:2px 4px; width:190px; margin-left:5px; height:19px; float:right}
.pzbottk{font-size:13px; width:468px} .tentpspan{float:left; margin-top:5px}
.spancsd{float:left; font-size:12px; margin-left:8px; padding-left:8px; margin-top:2px; border-left:1px solid #000; color:#068ff0}
.spancsd1{background:#11A6DF; color:#fff; float:right; padding:3px 0; font-size:11px; text-align:center; width:40px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px}
.spancsd2{color:#068ff0; float:left; font-size:12px; margin-left:8px; padding-left:8px; border-left:1px solid #000; margin-top:5px }
.spanmttk{float:left; margin:2px} .dbctkdd{float:left; margin:3px !important} 
.spanmttk1{float:left; margin:2px; font-weight:normal; font-size:12px; width:160px; height:14px; overflow:hidden}
.leftdtkd{float:left; width:228px; margin-bottom:6px; margin-right:10px}
.pzbottk{margin-bottom:10px; padding-bottom:3px; border-bottom:1px dotted #aaa}
.viewkqmap{width:525px; text-align:center; padding:5px 0; cursor:pointer; font-weight:bold; font-size:12px; color:#333; background:#f1f2f3; box-shadow:0 0 1px #888; margin-bottom:12px}
.viewkqdd{font-size:12px; padding:0 10px; height:32px; line-height:16px; overflow:hidden; margin-bottom:3px}
.viewkqfull0{font-size:13px; padding:0 10px; height:32px; line-height:16px; overflow:hidden; margin-bottom:3px; text-align:center}
.viewkqdd h1,.viewkqdd h2{font-size:12px; display:inline} 
.title{position:relative; font-size:12px; overflow:hidden; border-bottom:1px solid #e6e6e6; padding:5px 0 0; z-index:0}
.title:hover{background:#f3f3f6; border-bottom:1px solid #ddd; z-index:1} .topdivkq{padding:10px;}
.dleftkq{float:left; width:100px; margin-right:8px; text-align:center}
.dleftkq p{width:100px; height:100px; overflow:hidden; position:relative; box-shadow:0 0 1px #999}
.pleftkq{float:left; width:35px; margin-right:5px}
.pleftkq img{width:35px; height:35px}
.divrtkdd{float:left; width:395px}
.prightkq{width:355px; overflow:hidden; float:left}
.prightkq a{color:#068ff0; font-size:13px; line-height:18px; display:block; width:355px; height:18px; overflow:hidden}
.prightkq0 em,.prightkq em{font-weight:bold}
.prightkq0{overflow:hidden; color:#404040; margin:2px 0; width:355px; height:15px; overflow:hidden} .pddiemtk{margin-top:4px}
.pddiemtk em{font-weight:bold}
.prightkq01{width:285px; overflow:hidden; color:#666; margin-bottom:3px; font-size:11px}
.divboxms{border:1px dashed #bbb; padding:5px 10px; position:relative; margin-top:30px}
.pdboxms1{float:left; background-color:#11a6e0; width:2px; height:27px; margin-right:2px}
.pdboxms2{float:left; background-color:#11a6e0;; padding:6px 18px 3px; color:#fff; margin-left:2px; font-size:15px; font-weight:bold; text-shadow:0 0 2px #888; line-height:18px}
.divboxms1{position:absolute; top:-27px; left:-1px; white-space:nowrap}
.icmaptk{background:url(../../Content/Images/imgh/infomapstreet.png) no-repeat}
.dotlinems{float:left; width:15px; height:210px; background-position:-141px 0}
.icweather{display:inline-block; width:25px; height:19px; background-position:-3px -3px; position:absolute; right:14px; top:5px; display:none}
.bdboxms1{font-size:18px; color:#333} .bdboxms2{font-size:16px; color:#068ff0}
.divboxm2{float:left; margin-left:10px; width:436px}
.divboxm2 .p1{margin-bottom:19px; margin-top:9px} .divboxm2 .p2{margin-bottom:19px} 
.divboxm2 .p3{margin-bottom:17px} .divboxm2 .p4{margin-bottom:19px}
.divboxm2 .p5{margin-bottom:20px} .divboxm2 .p6{margin-bottom:10px}
.boxmsmap2{margin-top:10px;font-size:11px}
.boxmsmap2 p{float:left; margin-right:3px; cursor:pointer}
.tarzdiv{margin-bottom:1px; background:#f3f4f5; font-size:11px}
.tarzdiv1{float:left; width:36px} .tarzdiv2{padding:3px 5px; width:340px; float:left}
.tarzdiv2 a{color:#068ff0; font-weight:bold; margin-bottom:2px} .tarzdiv2{color:#444} .tarzdiv2 em{font-weight:bold}
.ahdiv2,.offtimxq{display:none}  .rbf1{width:318px}
.spsearchmap{float:left; width:25px; height:23px; background:url(../../Content/Images/icons/icon-search.png) no-repeat; cursor:pointer; margin-left:10px; margin-top:5px}
.mapsrlocate{width:328px; height:328px; border:1px solid #ddd}
.pkinfomap{float:left; margin-left:15px; font-size:11px; font-weight:bold; color:#555; cursor:pointer; margin-top:3px; line-height:16px}
.icpmap0{width:9px; height:9px; background-position:-5px -28px; float:left; margin-right:3px; margin-top:3px}
.icpmap1{width:66px; height:24px; background-position:-4px -116px}
.icpmap2{width:75px; height:24px; background-position:-4px -148px}
.icpmap3{width:116px; height:24px; background-position:-4px -244px}
.icpmap4{width:75px; height:24px; background-position:-4px -180px}
.icpmap5{width:80px; height:24px; background-position:-4px -212px}
.icpmap6{width:24px; height:24px; background-position:-80px -116px}
.divtkmapdd .ngaythang{float:left} .dirpanel{display:none}
.pmapctdd{height:18px; overflow:hidden; margin-bottom:2px} .pmapctdd b{font-size:18px}
/*  */
.drelbdo{width:100%; min-width:1240px; position:relative; overflow:hidden} 
.backmapnew{background:url(../../Content/Images/home/timduongfree_01.png) no-repeat}
.drelbdo .spandvitk{float:left; height:30px; width:30px; position:absolute; top:80px; right:30px; background-position:0 -48px; cursor:pointer}
.leftbdonew{width:1200px; margin:0 auto; position:relative}
.topmapnew{position:absolute; top:25px; left:0; width:400px}
.topmapnew_1{background:#eaeaea; border-top:1px solid #1aa5de; font-size:13px; font-weight:bold; color:#333; height:35px; width:100%}
.botmapnew{width:100%; position:absolute; bottom:0; left:0; background:#fff; box-shadow:0 0 3px #888; z-index:5} 
.ptimvtri,.ptimduong{float:left; width:200px; text-align:center; position:relative; cursor:pointer}
.psearch{float:left; width:200px; position:relative; cursor:pointer;}
.psearch-result{float:right; width:200px; position:relative; cursor:pointer;display:inline;height:35px;margin-top:10px;}
.rtimvtri{float:left; width:100px; text-align:center; position:relative; cursor:pointer}
.backcolorms1{background:url(../../Content/Images/home/timduongfree_01.png) no-repeat; background-position:0 0; height:35px; margin-top:0px; color:#fff}
.backcolorms1 b{background-position:-120px -45px !important; margin-top:5px !important; margin-left:50px !important}
.ptimvtri b{float:left; width:25px; height:24px; background-position:-242px -45px; margin-top:6px; margin-left:50px}
.ptimvtri span{float:left; margin-top:12px; margin-left:6px}
.backcolorms2{background:url(../../Content/Images/home/timduongfree_01.png) no-repeat; background-position:-223px 0; height:35px; margin-top:0px; color:#fff}
.backcolorms2 b{background-position:-303px -46px !important; margin-top:5px !important; margin-left:50px !important}
.backcolorms2 span{margin-top:12px !important; margin-left:6px !important}
.backcolorms3{background:url(../../Content/Images/home/timduongfree_01.png) no-repeat; background-position:0 0;width:150px; height:35px; margin-top:-5px; color:#fff}
.backcolorms3 b{background-position:-124px -45px !important; margin-top:5px !important; margin-left:50px !important}
.backcolorms3 span{margin-top:12px !important; margin-left:6px !important}
.ptimduong b{float:left; width:24px; height:24px; background-position:-95px -46px; margin-top:6px; margin-left:50px}
.ptimduong span{float:left; margin-top:12px; margin-left:6px}
.divmstr2{height:40px; background:#fff; width:100%; font-size:12px} .divmstr1{background:#fff; width:100%; font-size:12px; display:none;}
.divresult{
	background:#fff; width:100%; font-size:12px; display:none;padding-top:20px;
}
.pseldate{float:left; background:#f3f3f3; width:95px; height:40px; overflow:hidden; position:relative}
.mapdateh{float:left; border:0; background:transparent;padding-left:5px; width:115px; height:40px; line-height:18px; font-weight:bold; position:absolute; top:0; left:0; z-index:2; font-size:12px; -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;   
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;	
}
.mapdateh option{
	height: 35px; 
  padding:5px; 
  line-height: 35px; 
	background: #f8f8f8;
    color:#888;
}
.pseldate b{float:left; position:absolute; z-index:1; top:14px; right:2px; background-position:-430px -2px; width:10px; height:10px}
.inpmapddt{float:left; border:0; width:255px; line-height:18px; height:30px; padding:5px; font-size:12px}
.divmstr2 .btndirect, .divmstr1 .btndirect{float:right; width:40px; cursor:pointer; background-position:-57px -37px; height:40px; background-color:#f3f3f3; margin:0;border:0}
.bottopmap,.dbotfnote{background:#0796cd; color:#fff; height:32px; width:100%; font-weight:normal; font-size:12px; cursor:pointer}
.dbotm1{float:left; width:170px} .dbotm2{float:left; width:130px} .dbotm3{float:left; width:100px}
.dbotm1 b{float:left; width:24px; height:30px; background-position:-149px -41px; margin:1px 3px 0 12px}
.dbotm1 span,.dbotm2 span,.dbotm3 span{float:left; margin-top:10px} 
.dbotm2 b{float:left; width:26px; height:30px; background-position:-381px -43px; margin:1px 5px 0 10px}
.dbotm3 b{float:left; width:25px; height:30px; background-position:-33px -42px; margin:1px 5px 0 10px}
.pmapnewh{float:left; background:#f3f3f3}
.pmapnewh1{float:right; background:#f3f3f3}
.ddmapz1{float:left; background-position:-209px -44px; width:30px; height:35px; margin:5px 12px 0}
.ddmapz2{float:left; background-position:-177px -45px; width:30px; height:35px; margin:5px 12px 0}
.ddmapz3{float:left; background-position:-200px -127px; width:30px; height:35px; margin:5px 12px 0}
.ddmapz4{float:left; background-position:-160px -127px; width:30px; height:35px; margin:5px 12px 0}
.inptduongmap{float:left; padding:5px; width:295px; line-height:18px; height:30px; border:0; font-size:12px}
.btnwapdd{float:right; width:40px; cursor:pointer; background-position:-265px -38px; height:40px; background-color:#f3f3f3; margin:0; border:0}
.btnwapdd2{float:right!important; width:40px;height:40px;background-position:-300px -200px;opacity:100; background-color:#f3f3f3; margin:0; border:0}
.bgweather b{background-position:-341px -43px !important} 
.maphdan{background:#fff; color:#222; font-size:12px; font-weight:normal} 
.maphdan2{background:#fff; padding:10px; color:#222; font-size:12px; font-weight:normal;}
.dboxgtm{width:400px; overflow: auto; font-size:12px; margin-top:20px; font-weight:normal; box-shadow:0 0 3px #888; background:#fff}
.dboxgtm2{width:400px; overflow: auto; font-size:12px; margin-top:20px; font-weight:normal; box-shadow:0 0 3px #888; background:#fff}
.search-fixed{
	width:400px;
	position:fixed;
	display:inline-block;
	background:#eaeaea; border-top:1px solid #1aa5de;height:35px;
}
.search-result-header-text{
	font-weight:bold;margin-top:10px;float:left;margin-left:50px;position:relative;
}
.search-result-text{
	font-weight:bold;
}
.icgetlct{display:inline-block; width:26px; height:24px; background-position:-426px -15px; vertical-align:middle}
.icclick{display:inline-block; width:30px; height:25px; background-position:-62px -46px; vertical-align:middle; margin:0}
.dboxt1{float:left; font-weight:bold} .dboxt2{float:right; font-weight:bold; cursor:pointer;font-size:13px;padding-right:5px}
.dboxt3{margin-top:5px; padding:10px; } .pdboxms3{margin-top:3px; line-height:16px; font-size:12px; font-weight:normal}
.dboxt4{margin-top:5px; padding:10px; border:1px dashed #bbb}
.addmap{display:inline-block; width:26px; height:26px; background-position:-211px -48px; vertical-align:middle}
.bddmap{display:inline-block; width:26px; height:26px; background-position:-179px -48px; vertical-align:middle}
.ahinhmap{float:left; width:220px; height:125px; overflow:hidden; position:relative} .ahinhmap img{max-height:230px; max-width:330px}
.dhmapzt{float:left;width:210px;padding:5px;position:absolute;left:0;bottom:0;background:url(../../Content/Images/home/nenche2.png) repeat}
.dbotf1{float:left; width:160px} .dbotf2,.dbotf3{float:left; width:120px} .dhmapzt .ulstarbox{margin:3px 0 0}
.dbotf1act b{background-position:-481px -18px !important;} 
.dbotf1 b{float:left; width:24px; height:24px; background-position:-456px -18px; margin:5px 3px 0 20px}
.dbotf2 b{float:left; width:24px; height:24px; background-position:-456px 5px; margin:1px 4px 0 30px}
.dbotf3 b{float:left; width:26px; height:30px; background-position:-412px -44px; margin:1px 0 0 30px}
.dbotf1 span,.dbotf2 span,.dbotf3 span{float:left; margin-top:10px} 
.arrdround{position:absolute; left:0; top:-30px; background:#fff; width:160px; font-size:12px; padding:10px 0 4px; box-shadow: -1px -1px 1px 0px #bbb,1px -1px 1px 0px #bbb; border-radius:3px; -webkit-border-radius:3px; cursor:pointer}
.arrdround b.up{float:left; width:20px; height:20px; background-position:-458px -50px; margin:-2px 2px 0 8px}
.arrdround b.down{float:left; width:20px; height:20px; background-position:-476px -50px; margin:-2px 2px 0 8px}
.dloadnews{padding:6px 0 0; width:1210px; height:88px; overflow:hidden; margin-bottom:6px} .ddmapnbot{float:left; width:191.5px; cursor:default; margin-right:10px; position:relative} .ddmapnbot:hover{background:#f0f0f0}
.pleftdm_1{float:left; width:191.5px; height:88px; overflow:hidden; position:relative} 
.dleftdm_2{float:left; padding:5px; font-size:12px; width:181px; background:url(../../Content/Images/home/nenche2.png) repeat; position:absolute; left:0; bottom:0}
.dleftdm_2 a{color:#fff; font-weight:bold; display:block; max-height:16px; line-height:16px; overflow:hidden; cursor:pointer} 
.dleftdm_2 p{color:#fff; margin:2px 0 0; max-height:14px; line-height:14px; overflow:hidden; font-size:11px} .azxloadm{text-align:center; width:100%; padding:32px 0; line-height:18px; font-size:14px}
.adp-step, .adp-substep{border:none !important; padding:5px !important; line-height:16px} .adp-summary{display:none}
.dirpanel .adp-summary{display:block; font-weight:bold}
.adp-directions{margin:12px 5px !important; width:auto !important}
.dirtophead{margin:20px 0 -20px; box-shadow:0 0 3px #888; display:none} .dirt1{height:32px; border-bottom:1px solid #fff; background:#f3f3f3; position:relative; color:#fff; font-size:12px}
.dirdri1, .dirdri2, .dirdri3{float:left; cursor:pointer; height:35px; margin-top:-3px; position:absolute} .dirt2{background:#0796cd; height:50px; width:400px; text-align:center; font-size:12px; color:#fff; font-weight:normal}
.spnkcach{float:left; margin-top:10px; font-size:14px}
.dirdri1{width:134px; top:0; left:0} .dirdri1.actsubd{background-position:0 -88px; background-image:url(../../Content/Images/home/timduongfree_01.png)}
.dirdri2{width:148px; top:0; left:119px} .dirdri2.actsubd{background-position:-156px -88px; background-image:url(../../Content/Images/home/timduongfree_01.png)}
.dirdri3{width:149px; top:0; left:251px} .dirdri3.actsubd{background-position:-323px -88px; background-image:url(../../Content/Images/home/timduongfree_01.png)}
.dirdri1.actsubd b{background-position:-238px -130px !important; margin:5px 10px 0 10px}
.dirdri2.actsubd b{background-position:-201px -130px !important; margin:5px 10px 0 30px}
.dirdri3.actsubd b{background-position:-162px -130px !important; margin:5px 10px 0 30px}
.dirdri1 b{float:left; width:28px; height:26px; background-position:-122px -129px; margin:6px 10px 0 10px}
.dirdri2 b{float:left; width:28px; height:26px; background-position:-89px -129px; margin:6px 10px 0 30px}
.dirdri3 b{float:left; width:28px; height:26px; background-position:-55px -129px; margin:6px 10px 0 30px}
.dirt2tgian{float:left; width:130px; padding:15px 5px 17px; font-weight:bold; font-size:14px; line-height:18px; background:#eaeaea; color:#333} 
.dirt2nbat{float:left; width:125px; cursor:pointer} .dirt2share{float:left; width:68px; cursor:pointer} .dirt2close{float:left; width:62px; cursor:pointer}
.dirt2nbat b{width:24px; height:24px; background-position:-456px -18px; margin:4px 0 2px; display:inline-block}
.dirt2share b{width:24px; height:24px; background-position:-456px 5px; margin:1px 0 5px; display:inline-block}
.dirt2close b{width:26px; height:24px; background-position:-412px -44px; margin:1px 0 5px; display:inline-block}
.backmtkiem{margin-top:20px; display:none} .dbacktk1{width:270px; box-shadow:0 0 2px #999; padding:5px; margin-bottom:10px; background:#fff; font-size:12px; font-weight:normal}
.dbacktk1 a{float:left; width:225px; color:#333; margin-top:3px; line-height:16px; height:16px; overflow:hidden} 
.cloxback{float:right; font-size:12px; font-weight:bold; color:#333; text-align:center; width:15px; cursor:pointer}
.btvt1{float:left; width:26px; height:22px; background-position:-28px -130px; margin:0}
.btd2{float:left; width:26px; height:22px; background-position:1px -130px; margin:0}
.groundmaph{background:url(../../Content/Images/home/nenche2.png) repeat; position:absolute; top:0; left:0; width:100%; height:100%; z-index:2}
.dbacktk2{width:270px; box-shadow:0 0 2px #999; padding:10px 5px; background:#0796cd; font-size:12px; color:#fff; cursor:pointer; text-align:center}
.dbacktk2 b{width:15px; height:15px; background-position:-272px -133px; margin:0 5px -4px 0; display:inline-block}
.dbacktk3{width:390px; padding:5px; margin-bottom:10px; font-size:12px; font-weight:normal}
.dbacktk3 a{float:left; width:335px; color:#333; margin-top:3px; line-height:16px; height:16px; overflow:hidden} 
.backwhite{background:#fff; max-height:280px; padding:10px 0 0; overflow:hidden; width:400px}
.backwhite .cloxback{margin-right:10px} #ascrail2001-hr,#ascrail2004-hr{display:none !important}
.dselviewm{background:#eaeaea; border-bottom:1px solid #ccc; padding:10px} .boxdivsha{box-shadow:0 0 3px #888; background:#fff}
.seldmapv{border:0; font-size:12px; line-height:16px; height:24px; width:120px; float:left; box-shadow:0 0 1px #888}
.delallvm{cursor:pointer; float:right; margin-top:5px} 
.pchidmap{float:right; font-size:12px; line-height:16px; margin:6px 10px 0 0; cursor:pointer}
.pchidmap b{float:left; width:18px; height:16px; background-position:-295px -132px; margin:-2px 5px 0 0}
.boxmtbaod{position:absolute; left:415px; top:30px; width:360px; background:#fff; font-size:12px; line-height:18px; padding:8px 12px; box-shadow:0 0 3px #888; display:none}
.cloboxmd{font-size:13px; float:right; width:10px; height:15px; margin-right:-8px; margin-top:-5px; cursor:pointer}
.topmapnew2{
	box-shadow:0 0 3px #888; position:relative;
}
.topmapnew3{
	float:right;
}
.button-font-size{
	font-size:12px;
    padding-top:15px;
}
.checkbox-style{
	padding-left:0px;
	width:15px;
	height:15px;
}
.center-text{
    vertical-align:middle;
    font-size:14px;
    display:inline-block;
    font-weight:normal;
    font-style:normal;
    margin-top:1%;
    
}
.search-result-text{
    vertical-align:middle;
    font-size:14px;
    display:inline-block;
    font-weight:normal;
    font-style:normal;
    margin-left:100px;
    margin-top:10px;
    color:black;
}
.custom-div{
    height:40px; 
    border-bottom:1px solid #ccc;
	text-align: center;
}
.custom-div2{
	 height:45px; 
	text-align: center;
}
.route-btn{
	width: 300px;
	font-size: 18px !important;
	background-color: #0796cd;
	font-weight: bold;
	text-shadow: 1px 1px #0796cd;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #0796cd;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.viewall-result{
    float:right;
    vertical-align:middle;
    font-size:14px;
    display:inline-block;
    font-weight:normal;
    font-style:normal;
    padding-top:10px;
    color:blue;
}